<div>
    <Pokedex Pokemons="firstPokedex" IsWinner="isFirstWinner" TotalExp="firstPokedexTotal"/>
    <Pokedex Pokemons="secondPokedex" IsWinner="!isFirstWinner" TotalExp="secondPokedexTotal"/>
    
</div>
