<div class="Pokecard">
    <div class="Pokecard-title">
        @Pokemon.Name
    </div>

    <img class="Pokecard-picture" src=@ImageSource>


    <div class="Pokecard-data">
        <div>
            Type: @Pokemon.Type
        </div>
            
        <div>
            Exp: @Pokemon.Exp
        </div>
    </div>
</div>
